@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --primaryColor: #898aa6;
  --primaryDarkColor: #6c6d89;
  --secondaryColor: #d6efed;
  --secondaryDarkColor: #c3dee1;
  --black: #1d1d1d;

  /* font */
  --mainFont: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}
body {
  font-family: var(--mainFont);
  font-size: 1.1rem;
  background-color: white;
}
i {
  font-size: 1.8rem;
}
.heading {
  font-size: 24px;
  font-weight: 700;
}
.sub-heading {
  font-weight: 300;
}
.btn-prim {
  padding: 10px 24px !important;
  border-radius: 8px;
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
}
.btn-prim:hover {
  background-color: var(--primaryDarkColor);
  color: white;
}
.btn-second {
  padding: 10px 24px !important;
  border-radius: 8px;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  text-align: center;
}
.btn-second:hover {
  background-color: var(--primaryColor);
  color: white !important;
  border: none;
}
.section-margin {
  margin-top: 80px;
}

h3{
    /* padding: 30px 0; */
    text-align: center;
    /* text-transform: uppercase; */
    font-family: var(--mainFont);
    color: var(--primaryDarkColor);
    /* text-shadow: 4px 9px 0px rgba(201, 187, 207, 0.7); */
    font-size: 40px;
}
.header-bill{
    margin-top: 150px;
}
.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.floatL {
    float: left;
}
.floatR {
    float: right;
}
.boxstyle{
    padding: 30px;
    border-radius: 25px;
    border-top: 6px solid var(--primaryColor);
    border-bottom: 6px solid var(--primaryColor);
    margin-top: 20px;
}