@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --primaryColor: #898aa6;
  --primaryDarkColor: #6c6d89;
  --secondaryColor: #d6efed;
  --secondaryDarkColor: #c3dee1;
  --black: #1d1d1d;

  /* font */
  --mainFont: "Nunito Sans", sans-serif;
}

body {
  background-color: white;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}
body {
  font-family: var(--mainFont);
  font-size: 1.1rem;
}
i {
  font-size: 1.8rem;
}
.heading {
  font-size: 24px;
  font-weight: 700;
}
.sub-heading {
  font-weight: 300;
}
.btn-prim {
  padding: 10px 24px !important;
  border-radius: 8px;
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
}
.btn-prim:hover {
  background-color: var(--primaryDarkColor);
  color: white;
}
.btn-second {
  padding: 10px 24px !important;
  border-radius: 8px;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  text-align: center;
}
.btn-second:hover {
  background-color: var(--primaryColor);
  color: white !important;
  border: none;
}
.section-margin {
  margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--mainFont);
  background: white;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 150px;
}
.wrapper h1 {
  padding: 30px 0;
  text-align: center;
  /* text-transform: uppercase;
    font-variant: 'inherit';
    font-style: italic; */
  /* color: var(--primaryDarkColor); */

  /* text-shadow: 4px 9px 0px rgba(201, 187, 207, 0.7); */
}
.project {
  display: flex;
}
.shop {
  flex: 75%;
}
.box {
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.6s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.box:hover {
  transform: scale(1.02);
}
.box img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
.content h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.content h4 {
  margin-bottom: 30px;
  margin-left: 50px;
}

.btn-area {
  position: relative;
  display: flex;
  bottom: 20px;
  left: 250px;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  height: 40px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.btn-area:hover {
  background-color: #76bfb6;
  color: #fff;
}
.unit input {
  width: 50px;
  padding: 8px;
  text-align: center;
  margin-left: 10px;
}
.unit {
  margin-left: 50px;
}
.btn-area i {
  margin-right: 5px;
}
.right-bar {
  flex: 25%;
  margin-left: 20px;
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.right-bar hr {
  margin-bottom: 25px;
}
.right-bar p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}
.right-bar a {
  background-color: #76bfb6;
  color: #fff;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  font-weight: 900;
  border-radius: 5px;
  padding: 10px 10px;
}
.right-bar {
  margin-right: 15px;
  margin-bottom: 50px;
}
.right-bar a:hover {
  background-color: #898aa6;
}

@media screen and (max-width: 700px) {
  .content h3 {
    margin-bottom: 15px;
  }
  .content h4 {
    margin-bottom: 20px;
  }
  .btn2 {
    display: none;
  }
  .box {
    height: 15px;
  }
  .box img {
    height: 150px;
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .project {
    flex-direction: column;
  }
  .right-bar {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 95%;
  }
}
