@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --primaryColor: #898aa6;
  --primaryDarkColor: #6c6d89;
  --secondaryColor: #d6efed;
  --secondaryDarkColor: #c3dee1;
  --black: #1d1d1d;

  /* font */
  --mainFont: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

/* footer */
footer{
  margin-top: 150px;
  background-color: var(--secondaryColor);
}
footer a{
  color: var(--primaryDarkColor);
}
footer a:hover{
  color: var(--primaryDarkColor);
  text-decoration: underline !important;
}
footer .row-copy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}