@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

:root {
  --primaryColor: #898aa6;
  --primaryDarkColor: #6c6d89;
  --secondaryColor: #d6efed;
  --secondaryDarkColor: #c3dee1;
  --black: #1d1d1d;

  /* font */
  --mainFont: "Nunito Sans", sans-serif;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--mainFont);
}

body{
	background: #ececec;
}



.notification_wrap{
	width: 100%;
	margin: 120px auto 0;
}

.notification_wrap .notification_icon{
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	color: #d0bde0;
}

.notification_wrap .notification_icon .fa-bell{
	cursor: pointer;
}


.notification_wrap .dropdown{
	width: 700px;
	height: auto;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
	margin: 15px auto 0;
	padding: 15px;
	position: relative;
	display: none;
}

.notification_wrap .dropdown .notify_item{
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child{
	border-bottom: 0px;
}

.notification_wrap .dropdown .notify_item .notify_img{
	margin-right: 25px;
}

.notification_wrap .dropdown .notify_item .notify_info p{
	margin-bottom: 5px;
	color: rgb(0, 0, 0);
	font-style: normal;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_desc p{
	color: #b24e4e;
	margin-left: 5px;
}
.notification_wrap .dropdown .notify_item .notify_info .notify_desc p span{
	color: #693fe8;
	font-size: 18px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_desc .notify_time{
	color: #c0b9bf;
	font-size: 12px;
}




.notification_wrap .dropdown:before{
	content: "";
	position: relative;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	border: 15px solid;
	border-color: transparent transparent #fff transparent;
}

.notification_wrap .dropdown.active{
	display: block;
}